.title {
    font-family: 'Times New Roman', Verdana, sans-serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;

}

.title.main {
    color: blue;
    background-color: black;

}

.title.enchilada {
    color: black;
    background-color: red;
}

.title.ramen {
    color: yellow;
    background-color: rgb(116, 76, 76);
}

.title.tacos {
    color: rgb(82, 71, 9);
    background-color: rgb(38, 161, 38);
}

.ingr.ramen {
    font-size: 30px;
    color: black;
    background-color: red;
}

.para {
    font-family: 'Times New Roman', Verdana, sans-serif;
    font-size: 30px;

}

.para.enchilada,
.para.tacos {
    color: white;
    background-color: red;
}

.homelinks {
    color: red;
    background-color: pink;
}

.ul,
.ol {
    font-size: 30px;
    font-family: 'Times New Roman', Verdana, sans-serif;
}

.ol.tortilla {
    color: black;
    background-color: green;
}

.ol.enchilada {
    color: black;
    background-color: green;
}

.ul.ramen {
    color: black;
    background-color: red;
}


.home-button {
    color: green;
    background-color: black;
    font-size: 35px;
}



